/* Color palette:
    #000000
    #003e3e
    #007c7c
    #00baba
    #00f8f8 */

* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: Verdana, sans-serif;
}

body {
    background-color: #003e3e;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 40px;
    background-color: black;
}

.background-photo {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)),url(../img/metsa-1.jpg);
    background-size: cover; /* Covers whole sight of the content */
    background-position: center; /* Keeps center of the image always center */
}

span {
    color: #00f8f8;
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }
  
  ul.navigation li {
    display: inline-block;
    padding: 2px;
}
  
  ul.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.navigation li a:hover {
    background-color: #111;
    border-radius: 30px;
}
  
  ul.navigation li a.active {
    border-style: solid;
    border-radius: 30px;
    border-color: #00f8f8;
    border-width: 2px;
}
  
  
  @media screen and (max-width: 600px) { 
    ul.navigation, ul.navigation li {
      float: none;
  }
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.6;
    max-width: 800px;
    margin-top: 10px;
}

.intro h1 {
    font-size: 60px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  